.cardsContainer {
  margin-bottom: 50px;
  max-width: 880px;
}

.card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin: 20px auto;
  text-align: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  padding-top: 30px;  
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 5px;
}

.card p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}

.favButton {
  background-color: #f1f1f1;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.favButton:hover {
  background-color: #eceaea;
}

.favButton:active {
  background-color: #dbd7d7;
}

.starIcon {
  color: yellow !important; /* Color de relleno amarillo */
  stroke: black; /* Borde negro */
  stroke-width: 1.2px; /* Ancho del borde */
}

.heartIcon {
  color: transparent; /* Corazón sin relleno por defecto */
  stroke: black; /* Borde negro */
  stroke-width: 1.5px; /* Ancho del borde */
}

.heartIcon.filled {
  color: red !important; /* Corazón relleno de rojo al seleccionarlo */
  stroke: none; /* Sin borde cuando está relleno */
}