.footerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.redBar {
  width: 100%;
  background-color: #ff0000;
  display: flex;
  justify-content: center; /* Alinea el contenido a la derecha */
  align-items: center; /* Centra verticalmente */
  height: 35px; /* Ajuste esta altura según lo desee */
  font-weight: 500;
  font-size: 1em; /* Ajuste el tamaño de la fuente si es necesario */
  margin-top: 30px;
  cursor: pointer;
  padding: 5px;
}

.footerContent {
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

.logo {
  width: 200px;
  height: 40px;
}

.socialIcons {
  display: flex;
  gap: 15px;
}

.icon {
  width: 35px;
  height: 35px;
  filter: invert(1); /* Invierte los colores, haciendo el blanco negro */
}

.dark {
  filter: invert(0) !important;
}

.redBar p {
  margin: 0;
  color: inherit; /* Hereda el color del fondo del contenedor */
}

/* Estilos para el tema oscuro */
.dark .redBar p {
  color: #747474; /* Color del texto en el tema oscuro */
}

/* Estilos para el tema claro */
.light .redBar p {
  color: white; /* Color del texto en el tema claro */
}
